.order-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
  }
  
  .order-table thead tr {
    text-align: left;
    color: grey;
    font-weight: bold;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  
  .order-table th, .order-table td {
    padding: 12px 15px;
    font-weight: bold;
  }
  
  .order-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }