body {
  font-family: 'Montserrat', sans-serif;
}

.table-action-items {
  display: flex;
  justify-content: left;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
  flex-wrap: wrap;
}

hr {
  color: lightgrey;
}